body {
    margin: 24px 48px;
    overflow-x: hidden;
}

/*
.mdc-icon-toggle:not(.mdc-ripple-upgraded):hover::before,
.mdc-icon-toggle:not(.mdc-ripple-upgraded):focus::before,
.mdc-icon-toggle:not(.mdc-ripple-upgraded):active::after {
    transition-duration: 85ms;
    opacity: .6;
}
*/

.mdc-icon-toggle::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

abbr[title], acronym[title] {
    text-decoration: none;
}

/*
.mdc-icon-toggle.active::before {
    opacity: .6;
}
*/

input.filter { /*todo class */
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 48px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.unicode-character-list tr td:first-child { /*todo class */
    font-weight: bold;
}

.key-name {
    font-weight: bold;
}

.detail-name {
    font-weight: bold;
}

.unicode-character-list tr td {
    padding: 4px 0;
}

.unicode-character-list tr {
    overflow-x: visible;
}

.option-toggles label {
    padding-left: 6px;
}

.unicode-character-list {
    display: block;
    list-style: none;

    width: 600px;
    max-width: 100%;
    margin: 48px auto 0 auto;
    padding: 0;
}

.description {
    font-weight: bold;
}

.type, .mode {
    font-size: small;
}

.character-details {
    margin: 0;
}

.unicode-character-row {
    padding: 48px 0 0 0;
    display: block;
    text-align: center;
}

.unicode-character-row table {
    /*display: block;*/
    width: 100%;
    margin: 2em 0 0 0;
}

.unicode-character-codepoint {
    font-size: small;
}

.unicode-character {
    font-size: 82px;
    text-align: center;
}
