body {
    margin: 24px 48px;
}

#mount-point input {/*todo class */
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 48px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.unicode-character-list tr td:first-child {/*todo class */
 font-weight: bold;   
    width: 160px;
}

.unicode-character-list tr td{
    padding: 0 12px;
}

.unicode-character-list {
    display: block;
    list-style: none;
    margin: 0;
    width: 600px;
    max-width: 100%;
    margin-top: 48px;
    padding: 0;
}

.unicode-character-row {
    display: block;
    text-align: center;
}

.unicode-character-row table {
    display: inline-table;
    margin: 2em 0 0 0;
}

.unicode-character-codepoint {
    font-size: small;
}

.unicode-character {
    font-size: 82px;
    text-align: center;
}
