body {
    margin: 24px 48px;
}

.unicode-character-list tr td:first-child {
 font-weight: bold;   
}

.unicode-character-list tr td{
    padding: 0 12px;
}

.unicode-character-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.unicode-character-row {
    text-align: center;
}

.unicode-character {
    font-size: 82px;
    text-align: center;
}
